.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--ifm-color-primary);
}

.featureIcon svg {
  width: 32px;
  height: 32px;
}
